/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;700&family=PT+Sans:wght@400;700&display=swap");

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  color: inherit;
}

/* CONFIG */

:root {
  font-size: 62.5%;

  --ff-prm: "Handjet", serif;
  --ff-sec: "PT Sans", sans-serif;

  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.4rem;
  --fs-800: 2.8rem;
  --fs-900: 3.2rem;

  --fw-reg: 400;
  --fw-med: 500;
  --fw-bld: 700;
}

body {
  font-family: var(--ff-prm);
  font-size: var(--fs-400);
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: none;
}

/* GLOBAL */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 50vmin;
  height: 50vmin;
  user-select: none;
}

.grid__cell {
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.grid__cell:nth-child(-n + 10) {
  border-top-width: 1px;
}

.grid__cell:nth-child(10n + 1) {
  border-left-width: 1px;
}

/* MODAL */

.arrange {
  padding: 3rem;
  margin: auto;
}

.arrange::backdrop {
  backdrop-filter: blur(4px);
}

.arrange__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  width: 45vmin;
}

.arrange__heading {
  font-size: 4.5vmin;
  font-weight: var(--fw-med);
}

.arrange__rotate {
  background-color: lightgray;
  border-radius: 0.5rem;
  font-family: var(--ff-sec);
  font-size: 3vmin;
}

.arrange__grid {
  grid-column: 1 / -1;
  aspect-ratio: 1 / 1;
  width: auto;
  height: auto;
}

.grid__cell--placed {
  background-color: lightblue;
}

.grid__cell--valid {
  background-color: lightgreen;
}

.grid__cell--invalid {
  background-color: lightcoral;
}

/* MAIN */

.game {
  display: flex;
  gap: 2rem;
}

.grid__cell--attacked {
  background-color: lightgray;
}

.grid__cell--hit {
  background-color: lightcoral;
}

/* EXTRAS */

.winner {
  position: absolute;
  left: 50%;
  bottom: calc(25vmin - 7vh);
  transform: translateX(-50%);
  font-size: var(--fs-800);
}
